[submodule "api/account"]
	path = api/account
	url = git@github.com:Plataformas-Micro/account.git
[submodule "api/account-service"]
	path = api/account-service
	url = git@github.com:Plataformas-Micro/account-service.git
[submodule "api/gateway-service"]
	path = api/gateway-service
	url = https://github.com/Plataformas-Micro/gateway-service.git
[submodule "web"]
	path = web
	url = https://github.com/Plataformas-Micro/web.git
[submodule "api/auth"]
	path = api/auth
	url = git@github.com:Plataformas-Micro/auth.git
[submodule "api/auth-service"]
	path = api/auth-service
	url = git@github.com:Plataformas-Micro/auth-service.git
